h1,
p {
  font-family: Roboto;
}
div.ag-theme-alpine {
  height: 100% important;
}

.example-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#root {
  width: 100%;
  flex: 1 1 0px;
}
.actions {
  font-size: 30px;
  color: #2b6bdd;
}
.my-stats {
  text-align: left;
  margin: auto;
  padding: 0 0 0 10%;
  width: 210px;
  border: 1px 1px solid;
  color: #181d1f;
}
.my-stats h1 {
  border-top: 1px darkgrey solid;
  padding: 5px;
}
.my-stats p span {
  color: #2b6bdd;
}
button,
input {
  margin: 12px 4px;
  border-radius: 5px;
  border: 1px solid #2b6bdd;
  padding: 0 15px;
  color: #2b6bdd;
  background: #ffffff;
  cursor: pointer;
  line-height: 32px;
}
.button-group input {
  float: right;
  width: 300px;
  margin-right: 0;
  border-color: lightgrey;
  color: grey;
}
.button-group button:nth-child(1) {
  margin-left: 0;
}

.ag-theme-alpine .ag-row {
  font-size: 12px;
}

span.badge {
  color: black;
  display: inline-block;
  background-color: #e4e9ef;
  border-radius: 10px;
  height: 22px;
  margin: 10px -10px;
  padding: 0 13px;
  overflow: auto;
  line-height: 22px;
}

span.badge.InProgress,
span.badge.InProcess,
span.badge.Working,
span.badge.Paid {
  color: black;
  background-color: #ffd6c2;
}

span.badge.PreInvoice,
span.badge.Viewed,
span.badge.WithAdvisor,
span.badge.Pending {
  color: black;
  background-color: #ffa87d;
}

span.badge.CheckedIn,
span.badge.NotDispatched,
span.badge.Warranty {
  color: white;
  background-color: #96bdff;
}
span.badge.Completed,
span.badge.Closed {
  color: black;
  background-color: #d6c2ff;
}
span.badge.Default {
  display: none;
}

.ag-row-group span {
  font-weight: bold;
  font-size: 14px;
}

input[type='radio'] {
  position: relative;
  top: -2px;
}

input[type='radio']:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
}
input[type='radio']:checked:before {
  content: 'X';
}
.red:before {
  background-color: red;
}
.red.one:before {
  content: '1';
}
.red.two:before {
  content: '2';
}
.red.three:before {
  content: '3';
}
.yellow.four:before {
  content: '4';
}
.yellow.five:before {
  content: '5';
}
.yellow.six:before {
  content: '6';
}
.yellow.seven:before,
.green.seven:before {
  content: '7';
}
.yellow.eight:before,
.green.eight:before {
  content: '8';
}
.green.nine:before,
.green.nine:before {
  content: '9';
}
.green.ten:before {
  content: '10';
}
.green.eleven:before {
  content: '11';
}
.green.twelve:before {
  content: '12';
}
.yellow:before {
  background-color: orange;
}
.green:before {
  background-color: green;
}

.shortfield {
  width: 25px;
  height: 20px;
  padding: 0 5px;
}

.ag-cell-value.ag-cell.ag-cell-not-inline-editing {
  //border:initial;
}
